#python==3.9
torch==2.3.0+cu126
torchvision==0.18.0+cu126
# Use the PyTorch CUDA wheels index for installation
--extra-index-url https://download.pytorch.org/whl/cu126
numpy==1.21.6
matplotlib==3.5.1
Pillow==9.0.1
tqdm==4.64.0